{{ define "content" }}

Helloworld
<!--
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>
                                Graphic-1 <br>
                                Graphic-1 <br>
                                Graphic-1 <br>
                                Graphic-1 <br>                            
                                Graphic-1 <br>
                                Graphic-1 <br>
                                Graphic-1 <br>
                                Graphic-1 <br>
                                Graphic-1 <br>                                              
                                Graphic-1 <br>
                                Graphic-1 <br>
                                Graphic-1 <br>
                                Graphic-1 <br>
                                Graphic-1 <br>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                            <p>
                                Graphic-2 <br>
                                Graphic-2 <br>
                            </p>
                        </div>
                    </div>
-->
               



{{end}}