{{ define "content" }}

<div class="panel panel-info" id="cnotent">
    <div >

        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a> 
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="/infra">Infra</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="/infra/listserver">listserver</a></li>
        </ul>
       
	</div>
	<div class="portlet box blue">
		<div class="portlet-title">

	        Plese select a function:
	        <select id="cmd-option"  onchange="selectOnchang(this)" >
	            <option>Ping</option>
	            <option>Delete</option>            
	            <option>Edit</option>
	            <option>Save</option>
	        </select>
	        <button id="cmd-run">Run</button>
	    </div>

	    <div>
	        <table class="table table-hover" id="table-servers" data-URL="/infra/getservers">
	            <thead>
	                <tr>
	                    <th width=10px><input type="checkbox" id="checkall" ></th>
	                    <th>hostname</th>
	                    <th>ip</th>
	                    <th>os</th>
	                    <th>platform</th>
	                    <th>Ping</th>
	                </tr>
	            </thead>
	            <tbody>
	            </tbody>
	        </table>
	          <div>
	            <ul id="table-ser-pag" class="pagination" data-pnum=1 data-psize=5 >

	            </ul>
	        </div>
	    </div>
	</div>
</div>

{{end}}
{{ define "customizeScript" }}
<script>
$(document).ready(function() {
    //var pagenum = 1;
    var apiData="page=1&size=5";
    var apiURL=$("#table-servers").attr("data-URL");
    listServers(1,5);

    

});

function pingServers(items)
{	
	var apiData="data="+items;
	var apiURL="/infra/ping"
	$.ajax({
        url:apiURL,  
        data:apiData,
        dataType: "json",
        type:'post',  
        success:function(data){
        	$.each( data, function(index,item){ 
			    $("#table-servers").find("tr").each(function () {
			　　if ($(this).children('td:eq(1)').text() == item['addr']) {
					if(item['losspk']==0) {$(this).children('td:eq(5)').html("normal");}
					else if(item['losspk']==100) {$(this).children('td:eq(5)').html("down!");}
					else {$(this).children('td:eq(5)').html("unstable:"+item['losspk']);}
			　　};
			});
			}); 


        	//`addr`,`sendpk`,`revcpk`,`losspk`,`mindelay`,`avgdelay`,`maxdelay`
			
        }
    });

}

function deleteServers(items)
{	
	var apiData="data="+items;
	var apiURL="/infra/delservers"
	$.ajax({
        url:apiURL,  
        data:apiData,
        dataType: "json",
        type:'post',  
        success:function(data){alert(data);}
    });

}
function listServers(pagenum,pagesize){
    var apiURL = $("#table-servers").attr("data-URL");
    $('[class="pagination"]').attr("data-pnum",pagenum);
    $('[class="pagination"]').attr("data-psize",pagesize);
    $.ajax({
        url:apiURL,  
        data:"page=" + pagenum + "&size=" + pagesize,
        dataType: "json",
        type:'post',  
        success:function(data){  
            var item;
            $("table tbody").empty(); 
            $("#table-servers").show(); 
            $.each(data['data'],function(i,result){  

                item = "<tr><td><input type='checkbox' name='checkitem' value='" +result['hostname'] +
                        "'></td><td>"+result['hostname']+"</td><td>"+result['ip']+
                        "</td><td>"+result['os']+"</td><td>"+result['platform']+
                        "</td><td>"+"操作</td></tr>";  
                $('#table-servers').append(item);
                
            });  

            $('[class="pagination"]').empty(); 
            $('[class="pagination"]').append('<li><a href="#">&laquo;</a></li>');
            var lastPage = data['last_page']
            for(var i = 1; i<=lastPage; i++){
                
                if(i==pagenum){
                    var li_html = '<li class="active"><a href="#">' + i + '</a></li>'
                }else{
                    var li_html = '<li><a href="javascript:void(0);" onclick="listServers('+i+',5)">' + i + '</a></li>'
                }
                $('[class="pagination"]').append(li_html);
            }
            $('[class="pagination"]').append('<li><a href="#">&raquo;</a></li>');
        }
              
    });
            
    }


    $("#delete-row").on("click", function(){
        var items = [];
        item=$('[name="checkitem"]:checked').each(function(index,elem){
            items.push($(this).val());}); 
        window.alert(items);
        //$("#table-servers").tabulator("addRow",{} , true ); 
      });
    
    $("#checkall").on("click",function(){
        if(this.checked){
            $("[name=checkitem]").attr("checked",true);
        }else{ 
            $("[name=checkitem]").attr("checked",false);
        }
    });
    $("#cmd-run").on("click",function(){
        var action = $("#cmd-option").find("option:selected").text();
        switch(action){
			case "Ping":			
				Ping();
				break;
			case "Delete":
				Delete();
				break;
			default:
				alert("function not define!");
		};

    });

    function selectOnchang(obj){ 
        //alert(obj.selectedIndex);
        //var action = obj.options[obj.selectedIndex].value;
    }

    function Ping(){
    	var items = [];
        $('[name="checkitem"]:checked').each(function(index,elem){
            items.push($(this).val());
        	pingServers($(this).val());
        }); 
    }

    function Delete(){
    	var items = [];
        $('[name="checkitem"]:checked').each(function(index,elem){
            items.push($(this).val());}); 
        window.alert("delete "+items);
        //deleteServers(items);
    };
</script>
{{end}}
